<!DOCTYPE html>
<html>
<head>
  <title>Comment</title>
  <%= stylesheet_link_tag    "comment/application", media: "all" %>
  <%= javascript_include_tag "comment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
